{% extends "admin/base.html" %}
{% load static %}

{% block branding %}

     <a class="navbar-brand brand-logo"><img src="{% static 'media/LOGO1.png' %}" alt="logo" /></a>

<a class="nav-link" href="{% url 'addstack' %}" style="padding-top: 30px; font-weight: 700; color: #ffc; letter-spacing: 0.5px; margin-right: 15px;">
    <span class="menu-title">Add_Tasck</span>
</a>
<a class="nav-link" href="{% url 'allstack' %}" style="padding-top: 30px; font-weight: 700; color: #ffc; letter-spacing: 0.5px; margin-right: 15px;">
    <span class="menu-title">All_Task</span>
</a><a class="nav-link" href="{% url 'chat' %}" style="padding-top: 30px; font-weight: 700; color: #ffc; letter-spacing: 0.5px; margin-right: 15px;">
    <span class="menu-title">Live_Chat</span>
</a>



{% endblock %}

{% block extrastyle %}

<style>

</style>


{% endblock %}